<!DOCTYPE html>
<html ng-app="navApp">
<head>
    <title>Nav Editor</title>

    <link rel="stylesheet" type="text/css" href="/_plugins/static/pagespace-nav/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="/_plugins/static/pagespace-nav/styles.css" type="text/css" rel="stylesheet">

    <script src="/_plugins/static/pagespace-nav/pagespace-stub.js"></script>
    <script src="/_plugins/static/pagespace-nav/bower_components/angular/angular.min.js"></script>
    <script src="/_plugins/static/pagespace-nav/nav-editor.js"></script>
</head>
<body ng-controller="NavController">
<div  class="container-fluid ps-edit-box" >
    <main class="main row">
        <div class="col-sm-12">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="root" class="col-sm-2 control-label">Navigation root</label>
                    <div class="col-sm-9">
                        <input type="text" id="navWrapperClass" class="form-control" placeholder="" ng-model="data.root">
                        <p class="help-block">What is this?</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="navListClass" class="col-sm-2 control-label">Nav list class</label>
                    <div class="col-sm-9">
                        <input type="text" id="navListClass" class="form-control" placeholder="" ng-model="data.navListClass">
                        <p class="help-block"><code>&lt;ul class=&quot;{{data.navListClass}}&quot;&gt;</code></p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="navListItemClass" class="col-sm-2 control-label">Nav list item class</label>
                    <div class="col-sm-9">
                        <input type="text" id="navListItemClass" class="form-control" placeholder="" ng-model="data.navListItemClass">
                        <p class="help-block"><code>&lt;li class=&quot;{{data.navListItemClass}}&quot;&gt;</code></p>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>

<footer class="footer">
    <button type="button" class="btn btn-primary" ng-click="save()">Save and close</button>
</footer>

</body>

</html>